.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userinfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  margin-right: 20px;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pointContainer {
  background-color: white;
  width: 700px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px gray;
}

.userInfo {
  width: 900px;
  height: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px gray;
}

.email,
.address {
  width: 500px;
  height: 30px;
  text-align: center;
  box-shadow: 0px 8px 6px -6px #666;
}

.change {
  margin-top: 30px;
  width: 70px;
  height: 30px;
  border: none;
}

//ν¬μΈνΈ
.pointbox {
  display: flex;
  justify-content: space-around; =
  align-items: center;
  height: 100%;
}

.pointItem {
  text-align: center;
}

.pointItem img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px; 
  margin-top: 10px;
}

