.cel-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
}

.category-header {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  vertical-align: middle;
  height: 50px;
  font-weight: bold;
  text-align: center;
}

.category-cell {
  text-align: center;

  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  vertical-align: middle;
  height: 250px;
}

button {
  margin-top: 10px;
}
